body
{
    background-color: black;
    font-family: monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #bbbbbb;
}

#btl
{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    position: absolute;
    width:100%;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    top:0px;
    font-size: 1.2em;
    text-align:right;
}
