doctype html
html
  head
    title I Am Geoffrey
    link(rel='stylesheet', href='style.min.css')
  body
    canvas
    div(id='debug') Hello
    script(src='shared.min.js' type='text/javascript')
    script(src='client.min.js' type='text/javascript')