doctype html
html
  head
    title I Am Geoffrey
    link(rel='stylesheet', href='style.min.css')
  body
    canvas
    div(id='debug') Hello
    script(src="/socket.io/socket.io.js")
    script(src='shared.min.js')
    script(src='client.min.js')