doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title I Am Geoffrey
    link(rel='stylesheet', href='style.min.css')
  body
    canvas
    div(id='tr')
    div(id='tl') 
    script(src="/socket.io/socket.io.js")
    script(src='shared.min.js')
    script(src='client.min.js')