doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title I Am Geoffrey
        link(rel='stylesheet', href='style.min.css')
    body(style='text-align:center;')
        h1 I Am Geoffrey!
        p The goal is to score kills on other players.  To score a kill, get behind other players and stab them in the back!
        hr
        form(action='/' method='get')
            p Select a character and enter your name to begin! <br/>
            label Knight
                input(type='radio' name='char' value='m' checked)
            label Princess
                input(type='radio' name='char' value='f')
            br
            br
            input(type='text' id='name' name='name' placeholder='Player Name')
            br
            br
            input(type='submit' value='Go!')
            br
            hr
